	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Style Guide Generator</title>
		<link rel="icon" href="/assets/img/favicon.ico">
		{{!-- WEB FONTS --}}
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{{!-- LIBRARY CSS --}}
		<link href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		{{!-- LIVE PREVIEW CSS --}}
		<style title="generatedStylesheet"></style>
	</head>
