<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Style Guide Generator</title>

    <link href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="/assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="/assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="react-wrapper"></div>

    <!--<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="/assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>-->

    <script src="http://localhost:5002/webpack-dev-server.js"></script>
    <script src="/app.js"></script>
  </body>
</html>