.sidebar {
	border-right: .1rem solid $iron;

	.list-group {
		.back-to-customers {
			margin-bottom: 1rem;
		}
		.list-group-item {
			padding-top: .5rem;
			padding-bottom: .5rem;
			cursor: pointer;
		}
	}
}
